@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sprawdź swoją skrzynkę pocztową w celu resetowania hasła.
</p>

