@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Kliknij tutaj, aby się zalogować.</a>.
</p>
