@page
@model NotatkiWEB.Areas.Identity.Pages.Account.VerifyEmailModel
@{
}

<h1>Potwierdź swoje konto</h1>
<div>
    <p>
        Potwierdź swój E-mail przed kontynuacją.
        <br />
        Jeżeli nie otrzymałeś żadnego maila, sprawdź swoją skrzynkę SPAM lub skontaktuj się z administratorem.
    </p>
</div>