@page
@model NotatkiWEB.Pages.SubjectsList.CreateModel

@{
    ViewData["Title"] = "Dodaj nowy przedmiot";
}

<h2>Dodaj nowy przedmiot</h2>

<h4>Lista przedmiotów</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectList.SubjectName" class="control-label"></label>
                <input asp-for="SubjectList.SubjectName" class="form-control" placeholder="Wprowadź nazwę przemiotu..."/>
                <span asp-validation-for="SubjectList.SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectList.IDSemester" class="control-label"></label>
                <select asp-for="SubjectList.IDSemester" class ="form-control" asp-items="ViewBag.IDSemester"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj nowy" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-default btn-sm">Wróć do listy</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="Index" class="btn btn-default btn-sm">Wróć do listy</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
