@page
@model NotatkiWEB.Pages.SubjectsList.EditModel

@{
    ViewData["Title"] = "Edytuj";
}

<h2>Edycja</h2>

<h4>Lista przedmiotów</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectList.IDSubject" />
            <div class="form-group">
                <label asp-for="SubjectList.SubjectName" class="control-label"></label>
                <input asp-for="SubjectList.SubjectName" class="form-control" />
                <span asp-validation-for="SubjectList.SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectList.IDSemester" class="control-label"></label>
                <select asp-for="SubjectList.IDSemester" class="form-control" asp-items="ViewBag.IDSemester"></select>
                <span asp-validation-for="SubjectList.IDSemester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
